<div style="display: flex; justify-content: space-between;">

  <h2 mat-dialog-title class="modal-form__title">Padrón Acuícola </h2>

  <mat-icon [mat-dialog-close]="true" style="cursor:pointer">close</mat-icon>

</div>

<mat-dialog-content class="mat-typography">
  <mat-grid-list cols="3" rowHeight="100px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-form-field appearance="legacy">
        <mat-label>OASA</mat-label>
        <input matInput placeholder="OASA">
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-form-field appearance="legacy">
        <mat-label>Registro</mat-label>
        <input matInput placeholder="Registro">
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-form-field appearance="legacy">
        <mat-label>Especie</mat-label>
        <mat-select required>
          <mat-option [value]="1">1</mat-option>
          <mat-option [value]="2">2</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>


    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-form-field appearance="legacy">
        <mat-label>Dirección</mat-label>
        <input matInput placeholder="Dirección">
      </mat-form-field>
    </mat-grid-tile>


    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-form-field appearance="legacy">
        <mat-label>Latitud</mat-label>
        <input matInput placeholder="Latitud">
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-form-field appearance="legacy">
        <mat-label>Longitud</mat-label>
        <input matInput placeholder="Longitud">
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-form-field appearance="legacy">
        <mat-label>Entidad Federativa</mat-label>
        <mat-select required>
          <mat-option [value]="1">1</mat-option>
          <mat-option [value]="2">2</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-form-field appearance="legacy">
        <mat-label>Familia</mat-label>
        <mat-select required>
          <mat-option [value]="1">1</mat-option>
          <mat-option [value]="2">2</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>


  </mat-grid-list>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button>Guardar</button>
</mat-dialog-actions>

  
