<div style="display: flex; justify-content: space-between;">

  <h2 mat-dialog-title class="modal-form__title">Padrón Acuícola </h2>

  <mat-icon [mat-dialog-close]="true" style="cursor:pointer">close</mat-icon>

</div>

<mat-dialog-content class="mat-typography">
  <mat-grid-list cols="3" rowHeight="100px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-form-field appearance="legacy">
        <mat-label>OASA</mat-label>
        <input matInput placeholder="OASA"  [(ngModel)]="data.oasa">
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-form-field appearance="legacy">
        <mat-label>Registro</mat-label>
        <input matInput placeholder="Registro" [(ngModel)]="data.registro">
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-form-field appearance="legacy">
        <mat-label>Especie</mat-label>
          <mat-select required [(ngModel)]="data.ids_especies">
            <mat-option *ngFor="let item of especie" [value]="item.id_especie" >{{item.nombre_comun}}</mat-option>
          </mat-select>
      </mat-form-field>
    </mat-grid-tile>


    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-form-field appearance="legacy">
        <mat-label>Dirección</mat-label>
        <input matInput placeholder="Dirección" [(ngModel)]="data.direccion">
      </mat-form-field>
    </mat-grid-tile>


    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-form-field appearance="legacy">
        <mat-label>Latitud</mat-label>
        <input matInput placeholder="Latitud" [(ngModel)]="data.latutud">
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-form-field appearance="legacy">
        <mat-label>Longitud</mat-label>
        <input matInput placeholder="Longitud" [(ngModel)]="data.longitud">
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-form-field appearance="legacy">
        <mat-label>Entidad Federativa</mat-label>
        <mat-select [(ngModel)]="data.id_entidad_federativa" required>
          <mat-option *ngFor="let item of entidad_federativa" [value]="item.id_entidad_federativa">{{item.nombre}}</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-form-field appearance="legacy">
        <mat-label>Familia</mat-label>
        <mat-select required [(ngModel)]="data.id_familia">
          <mat-option *ngFor="let item of familia" [value]="item.id_familia">{{item.nombre}}</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>


  </mat-grid-list>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button  mat-raised-button (click)="guardar()">Guardar</button>
</mat-dialog-actions>

  
