<div style="display: flex; justify-content: space-between;">
  <h2 mat-dialog-title class="modal-form__title">Formato 1B </h2>

  <mat-icon [mat-dialog-close]="true" style="cursor:pointer">close</mat-icon>

</div>

<mat-dialog-content class="mat-typography">
  <mat-grid-list cols="3" rowHeight="100px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-form-field appearance="legacy">
        <mat-label>N° de visitas</mat-label>
        <input matInput placeholder="N° de visitas" [(ngModel)]="data.no_visitas">
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-form-field appearance="legacy">
        <mat-label>Entidad Federativa</mat-label>
        <mat-select [(ngModel)]="data.entidad_federativa_id_entidad_federativa" required>
          <mat-option *ngFor="let item of entidad_federativa" [value]="item.id_entidad_federativa">{{item.nombre}}</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
   
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-form-field appearance="legacy">
        <mat-label>Padrón Acuícola </mat-label>
          <mat-select [(ngModel)]="data.padron_acuicola_id_padron_acuicola" required>
            <mat-option *ngFor="let item of padron" [value]="item.id_padron_acuicola">{{item.oasa}}</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>


    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-form-field appearance="legacy">
        <mat-label>Fecha</mat-label>
        <input type="date" matInput placeholder="Fecha" [(ngModel)]="data.fecha">
      </mat-form-field>
    </mat-grid-tile>


    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-form-field appearance="legacy">
        <mat-label>Observaciones</mat-label>
        <input matInput placeholder="Observaciones" [(ngModel)]="data.observaciones"> 
      </mat-form-field>
    </mat-grid-tile>



  </mat-grid-list>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button  mat-raised-button (click)="guardar()">Guardar</button>
</mat-dialog-actions>

  
