<div style="display: flex; justify-content: space-between;">

  <h2 mat-dialog-title class="modal-form__title">Especies </h2>

  <mat-icon [mat-dialog-close]="true" style="cursor:pointer">close</mat-icon>
  
</div>


<mat-dialog-content class="mat-typography">
  <mat-grid-list cols="3" rowHeight="100px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-form-field appearance="legacy">
        <mat-label>Nombre Común</mat-label>
        <input matInput placeholder="Nombre Común" [(ngModel)]="data.nombre_comun">
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-form-field appearance="legacy">
        <mat-label>Nombre Científico</mat-label>
        <input matInput placeholder="Nombre Científico" [(ngModel)]="data.nombre_cientifico">
      </mat-form-field>
    </mat-grid-tile>


    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-form-field appearance="legacy">
        <mat-label>Familia</mat-label>
        <mat-select required [(ngModel)]="data.id_familia">
          <mat-option *ngFor="let item of familia" [value]="item.id_familia">{{item.nombre}}</mat-option>
         
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>


  </mat-grid-list>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button (click)="guardar()">Guardar</button>
</mat-dialog-actions>
