<div class="slide">

  <p class="title">MAIN NAVIGATION</p>

<hr>
  <div id="accordion">
    <div id="headingOne">
      <div class="menu collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
        aria-controls="collapseOne">
        <mat-icon class="icon">library_books</mat-icon>
        <p class="name">Catalogos</p>
        <div class="arrow"></div>
      </div>
    </div>

    <div id="collapseOne" class="submenu collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="item" [routerLink]="['/familia']" routerLinkActive="router-link-active" >Familia</div>
      <div class="item" [routerLink]="['/agente']" routerLinkActive="router-link-active">Tipo de agente</div>
      <div class="item">Tipo de analisis</div>
      <div class="item">Tipo usuarios</div>
      <div class="item">Agente patogeno</div>
      <div class="item">Entodad federativa</div>
      <div class="item">Enfermedades</div>
      <div class="item">Especie</div>
    </div>

    <div id="headingTwo">
      <div class="menu collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
        aria-controls="collapseOne">
        <mat-icon class="icon">engineering</mat-icon>
        <p class="name">Operaciones</p>
        <div class="arrow"></div>
      </div>
    </div>

    <div id="collapseTwo" class="submenu collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="item">Padron acuicola</div>
      <div class="item">Usuarios</div>
    </div>


    <div id="headingTree">
      <div class="menu collapsed" data-toggle="collapse" data-target="#collapseTree" aria-expanded="true"
        aria-controls="collapseOne">
        <mat-icon class="icon">list_alt</mat-icon>
        <p class="name">Formatos</p>
        <div class="arrow"></div>
      </div>
    </div>

    <div id="collapseTree" class="submenu collapse" aria-labelledby="headingTree" data-parent="#accordion">
      <div class="item">Formato 1A</div>
      <div class="item">Formato 1B</div>
    </div>


    

  </div>
