<div style="display: flex; justify-content: space-between;">
    <h2 mat-dialog-title class="modal-form__title">Tipo Usuarios</h2>

    <mat-icon [mat-dialog-close]="true" style="cursor:pointer">close</mat-icon>

</div>

<mat-dialog-content class="mat-typography">
  <mat-grid-list cols="3" rowHeight="100px">
    <mat-grid-tile [colspan]="3" [rowspan]="1">
      <mat-form-field appearance="legacy">
        <mat-label>Descripción</mat-label>
        <input matInput placeholder="Descripción" [(ngModel)]="data.descripcion">
      </mat-form-field>
    </mat-grid-tile>
    
  </mat-grid-list>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button  mat-raised-button (click)="guardar()">Guardar</button>
</mat-dialog-actions>

