<mat-toolbar color="primary">
  <div class="col-6">
      <img class="logo" src="../../../assets/logo.png" alt="">
  </div>
  <div class="col-6 end">

    <ngx-avatar class="avatar" name="{{usuario.Nombre}}" src="https://upload.wikimedia.org/wikipedia/commons/9/99/Sample_User_Icon.png" [matMenuTriggerFor]="menu"></ngx-avatar>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="salir()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Salir</span>
        </button>
      </mat-menu>
    
  </div>
</mat-toolbar>
