<div class="row">
    <div class="col-8">
      <h2 mat-dialog-title class="modal-form__title">Formato 1A </h2>
    </div>
    <div class="col-4">
      <mat-icon [mat-dialog-close]="true" style="cursor:pointer">close</mat-icon>
    </div>
  </div>
  
  <mat-dialog-content class="mat-typography">
    <mat-grid-list cols="3" rowHeight="100px">
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field appearance="legacy">
          <mat-label>Folio</mat-label>
          <input matInput placeholder="Folio">
        </mat-form-field>
      </mat-grid-tile>
  
      <mat-dialog-content class="mat-typography">
        <mat-grid-list cols="3" rowHeight="100px">
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field appearance="legacy">
              <mat-label>Fecha</mat-label>
              <input matInput placeholder="Fecha">
            </mat-form-field>
          </mat-grid-tile>
  
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field appearance="fill">
          <mat-label>Especie</mat-label>
          <mat-select required>
            <mat-option [value]="1">1</mat-option>
            <mat-option [value]="2">2</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
  
      <mat-dialog-content class="mat-typography">
        <mat-grid-list cols="3" rowHeight="100px">
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field appearance="legacy">
              <mat-label>Bacterias</mat-label>
              <input matInput placeholder="Bacterias">
            </mat-form-field>
          </mat-grid-tile>

          <mat-dialog-content class="mat-typography">
            <mat-grid-list cols="3" rowHeight="100px">
              <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field appearance="legacy">
                  <mat-label>Parasitos </mat-label>
                  <input matInput placeholder="Parasitos">
                </mat-form-field>
              </mat-grid-tile>

              <mat-dialog-content class="mat-typography">
                <mat-grid-list cols="3" rowHeight="100px">
                  <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field appearance="legacy">
                      <mat-label>Virus</mat-label>
                      <input matInput placeholder="Virus">
                    </mat-form-field>
                  </mat-grid-tile>

                  <mat-dialog-content class="mat-typography">
                    <mat-grid-list cols="3" rowHeight="100px">
                      <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <mat-form-field appearance="legacy">
                          <mat-label>Hongos</mat-label>
                          <input matInput placeholder="Hongos">
                        </mat-form-field>
                      </mat-grid-tile>

                      <mat-dialog-content class="mat-typography">
                        <mat-grid-list cols="3" rowHeight="100px">
                          <mat-grid-tile [colspan]="1" [rowspan]="1">
                            <mat-form-field appearance="legacy">
                              <mat-label>Laboratorio presuntivo</mat-label>
                              <input matInput placeholder="Laboratorio presuntivo">
                            </mat-form-field>
                          </mat-grid-tile>
                          
                          <mat-dialog-content class="mat-typography">
                            <mat-grid-list cols="3" rowHeight="100px">
                              <mat-grid-tile [colspan]="1" [rowspan]="1">
                                <mat-form-field appearance="legacy">
                                  <mat-label>Diagnostico presuntivo</mat-label>
                                  <input matInput placeholder="Diagnostico presuntivo">
                                </mat-form-field>
                              </mat-grid-tile>
                              

                              <mat-dialog-content class="mat-typography">
                                <mat-grid-list cols="3" rowHeight="100px">
                                  <mat-grid-tile [colspan]="1" [rowspan]="1">
                                    <mat-form-field appearance="legacy">
                                      <mat-label>Laboratorio oficial</mat-label>
                                      <input matInput placeholder="Laboratorio oficial">
                                    </mat-form-field>
                                  </mat-grid-tile>
                                  
                            <mat-dialog-content class="mat-typography">
                            <mat-grid-list cols="3" rowHeight="100px">
                            <mat-grid-tile [colspan]="1" [rowspan]="1">
                             <mat-form-field appearance="legacy">
                             <mat-label>Fecha envio </mat-label>
                               <input matInput placeholder="Fecha envio">
                              </mat-form-field>
                              </mat-grid-tile>
                          
                              <mat-dialog-content class="mat-typography">
                                <mat-grid-list cols="3" rowHeight="100px">
                                <mat-grid-tile [colspan]="1" [rowspan]="1">
                                 <mat-form-field appearance="legacy">
                                 <mat-label>Fecha entrega </mat-label>
                                   <input matInput placeholder="Fecha entrega">
                                  </mat-form-field>
                                  </mat-grid-tile>


                                  <mat-dialog-content class="mat-typography">
                                    <mat-grid-list cols="3" rowHeight="100px">
                                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                                     <mat-form-field appearance="legacy">
                                     <mat-label>Prevalencia </mat-label>
                                       <input matInput placeholder="Prevalencia">
                                      </mat-form-field>
                                      </mat-grid-tile>

                                      <mat-dialog-content class="mat-typography">
                                        <mat-grid-list cols="3" rowHeight="100px">
                                        <mat-grid-tile [colspan]="1" [rowspan]="1">
                                         <mat-form-field appearance="legacy">
                                         <mat-label>Incidencia </mat-label>
                                           <input matInput placeholder="Incidencia">
                                          </mat-form-field>
                                          </mat-grid-tile>

                                          <mat-dialog-content class="mat-typography">
                                            <mat-grid-list cols="3" rowHeight="100px">
                                            <mat-grid-tile [colspan]="1" [rowspan]="1">
                                             <mat-form-field appearance="legacy">
                                             <mat-label>Formato 1 </mat-label>
                                               <input matInput placeholder="Formato 1">
                                              </mat-form-field>
                                              </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-form-field appearance="fill">
            <mat-label>Tipo Analisis</mat-label>
            <mat-select required>
              <mat-option [value]="1">1</mat-option>
              <mat-option [value]="2">2</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
  
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-form-field appearance="fill">
            <mat-label>Enfermedad</mat-label>
            <mat-select required>
              <mat-option [value]="1">1</mat-option>
              <mat-option [value]="2">2</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-form-field appearance="fill">
            <mat-label>Padron acuicola</mat-label>
            <mat-select required>
              <mat-option [value]="1">1</mat-option>
              <mat-option [value]="2">2</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
  
  
  
    </mat-grid-list>
  </mat-dialog-content>
  
  <mat-dialog-actions align="end">
    <button  mat-raised-button>Guardar</button>
  </mat-dialog-actions>
  