<div style="display: flex; justify-content: space-between;">
    <h2 mat-dialog-title class="modal-form__title">Agente Patogeno </h2>

    <mat-icon [mat-dialog-close]="true" style="cursor:pointer">close</mat-icon>

</div>

<mat-dialog-content class="mat-typography">
  <mat-grid-list cols="3" rowHeight="100px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-form-field appearance="legacy">
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Nombre"  [(ngModel)]="data.nombre">
      </mat-form-field>
    </mat-grid-tile>


    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-form-field appearance="legacy">
        <mat-label>Tipo de agente</mat-label>
        <mat-select required [(ngModel)]="data.id_tipo_agente">
          <mat-option *ngFor="let item of tipo_agente" [value]="item.id_tipo_agente" > {{item.nombre}}</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field appearance="legacy">
          <mat-label>Tipo Especie</mat-label>
          <mat-select required [(ngModel)]="data.id_especie">
            <mat-option *ngFor="let item of especie" [value]="item.id_especie" >{{item.nombre_comun}}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field appearance="legacy">
          <mat-label>Tipo Especie Nombre Científico</mat-label>
          <mat-select required [(ngModel)]="data.id_especie">
            <mat-option *ngFor="let item of especie" [value]="item.id_especie" > {{item.nombre_cientifico}}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>


  </mat-grid-list>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button  mat-raised-button (click)="guardar()">Guardar</button>
</mat-dialog-actions>
