<div class="row">
  <div class="col-8">
    <h2 mat-dialog-title class="modal-form__title">Agente Patogeno </h2>
  </div>
  <div class="col-4">
    <mat-icon [mat-dialog-close]="true" style="cursor:pointer">close</mat-icon>
  </div>
</div>

<mat-dialog-content class="mat-typography">
  <mat-grid-list cols="3" rowHeight="100px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-form-field appearance="legacy">
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Nombre">
      </mat-form-field>
    </mat-grid-tile>


    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-form-field appearance="fill">
        <mat-label>Tipo de agente</mat-label>
        <mat-select required>
          <mat-option [value]="1">1</mat-option>
          <mat-option [value]="2">2</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field appearance="fill">
          <mat-label>Tipo Especie</mat-label>
          <mat-select required>
            <mat-option [value]="1">1</mat-option>
            <mat-option [value]="2">2</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>


  </mat-grid-list>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <mat-button>Guardar</mat-button>
</mat-dialog-actions>
